@{
    ViewBag.Title = "About";
}
 <head><link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"></head>
<div class=light-background>
    <h2>@ViewBag.Message</h2>
    <div class="about">


        <p>
            Sydney developed a passion for photography while taking a class in high school.
            She learned quickly that even the smallest things that appear ordinary have a splendor only seen through pictures.  She enjoys the kaleidoscope of
            colors found in rural nature as well as the fast-paced ambience of the Kansas City skyline.
            “I truly love capturing those stolen Moments during a session:
            a quick glance, quiet smile, a loving hand as much as the outbreak of spontaneous laughter.
            Photographing people is the most challenging; I want to capture their hearts not just their faces, that’s the true beauty.”
        </p>
        <p>
            “A thing that you see in my pictures is that I was not afraid to fall in love with these people.” – Anne Leibovitz
        </p>
        <p>
            “Photography is an art of observation. It has little to do with the things
            you see and everything to do with the way you see them.” – Elliott Erwitt
        </p>
    </div>
    </div>
