@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title.</h2>

<div class="contact">
    <h3>@ViewBag.Message</h3>
    <address>
        31852 Vine Street Road<br />
        Macon, MO 64089<br />
        <abbr title="Phone">P:</abbr>
        816.729.0199
    </address>

    <address>
        <strong>Or Email Us!:</strong>   <a href="mailto:sydneysnarr@yahoo.com">sydneysnarr@yahoo.com</a><br />

    </address>
</div>